venv

.venv


airflow.cfg
airflow.db
airflow-webserver.pid

logs

temps
plugins
configs
/*/airflow/config/
/*/airflow/dags/__pycache__
/*/airflow/logs/
/*/airflow/plugins/
/*/airflow/data_output/

/*/config/


/*/.DS_Store
/*/output
.DS_Store

/*/.DS_Store


references

/*/gsutil
/*/encryption_wrapper/*

/*/CSV-280-MB.csv

