venv

.venv


airflow.cfg
airflow.db
airflow-webserver.pid

logs

temps
plugins
configs
/*/airflow/config/
/*/airflow/dags/__pycache__
/*/airflow/logs/
/*/airflow/plugins/
/*/airflow/data_output/

/*/config/


/*/.DS_Store
/*/output
.DS_Store

/*/.DS_Store


references

303-encription-wrapper
303.01-encription-wrapper
303.02-encription-descript-wrapper
303.02-encrypt-decrypt-wrapper
303.03-encrypt-decrypt-wrapper
304-ingestion-pipline
304.01-ingestion-pipline
304.02-ingestion-pipline
304.03-ingestion-pipline-arflow

/*/**.csv
large-files

/*/__pycache__

/*/gsutil
/*/encryption_wrapper/*

/*/CSV-280-MB.csv


