venv

airflow.cfg
airflow.db
airflow-webserver.pid

logs

temps
plugins
configs
/*/airflow/config/
/*/airflow/dags/__pycache__
/*/airflow/logs/
/*/airflow/plugins/

/*/.DS_Store

.DS_Store

/*/.DS_Store
